<center>
	<div class="row">		
			<div class="list-group-item-text">
			  			  <div style="font-size: 45px;">CartolaWiki</div>
			  
			  Rodada <%= @status[:rodada_atual] %> <br><br>

				

			  <ul class="nav nav-tabs">				  
				  <li role="presentation"><a href=<%= root_path %> role="button" aria-haspopup="true" aria-expanded="false">Home</a></li>

				  <li role="presentation">
				  	<a href=<%=home_rodada_path%>>Jogos rodada</a>
				  </li>


				  <li role="presentation">
				  	<a href=<%=home_minha_liga_path%>>Minha liga</a>
				  </li>				  

				  <li role="presentation"><a href="#"></a></li>
				</ul>
			  	 
			
		</div>
	</div>
</center>